<ion-view view-title="home">
  <ion-content>

    <!-- start 轮播图-->
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
      <ion-slide>
        <div class="box banner" style="background: red;height: 180px"></div>
      </ion-slide>
      <ion-slide>
        <div class="box banner" style="background: blue;height: 180px"></div>
      </ion-slide>
      <ion-slide on-slide-changed="slideHasChanged(index)">
        <div class="box banner" style="background: yellow;height: 180px"></div>
      </ion-slide>
    </ion-slide-box>
    <!-- end 轮播图-->

    <!-- 功能菜单 -->

    <input type="radio" name="sex" ng-model="sex" value="男" />男
    <input type="radio" name="sex" ng-model="sex" value="女" />女
    {{sex}}
    <div>{{4324.2432|number:2}}</div>
    <div>{{"abcdefg"|limitTo:3:1}}</div>

  </ion-content>
</ion-view>
